<%- include("partials/header");  -%>

   <br><br><br><br><br><br>
   <!-- Bio Start -->
    <section>

        <div class="container text-center my-5">
            <div class="row">
              <div class="col-lg-6 my-2">
                <h1>Author: Keith Burris</h1>
                <img src="./images/Author.jpeg" alt="Author" height="400">
              </div>
              <div class="col">
                Keith Burris, a visionary IT specialist, honed his skills during a remarkable tenure in the esteemed U.S. Navy. Building upon his invaluable military experience, Keith seamlessly transitioned into the civilian realm, where he now spearheads transformative projects. Fueling his insatiable curiosity, he devotes his leisure hours to immersing himself in the forefront of technological breakthroughs.

Harnessing the power of his project management prowess and a passion for captivating narratives infused with fantastical realms, Keith unveiled his awe-inspiring debut novel, Duo Destiny. Prepare to embark on an extraordinary journey where boundless imagination meets gripping storytelling.
              </div>
            </div>
          </div>


    </section>
   <!-- Bio End -->
   <%- include("partials/footer");  -%>