
<%- include("partials/header");  -%>

<br><br><br><br><br><br>
<!-- Books Start -->
<section>
<div class="container text-center mt-5">
    <div class="row ">
      <div class=" col-lg-6">
        <a href="https://www.amazon.com/Duo-Destiny-Keith-Burris-ebook/dp/B08SLGQHRJ/ref=sr_1_6?crid=3TA3542N2C9PQ&dib=eyJ2IjoiMSJ9.0B-ZMekVkstkUq2mq6cc44VpnqEPi-fqPjcdj-p6NtOEyqeih-TawcJPpBpobnHeehVJyLpmvErAJf9xdTP6Va4OYPAXHm2KMFOQP_VF8se2Sha9hibrYCMpzsPcYIYX0nuraZ9uOBZfrv54bPAXWd5DknN0ClZC-HVyseejYRYQIOw14xbAwPAyyS3npNxaOyx73tZeJd_Ax1w7TqKKmAx0afJ2iFkJ0f6AoA0CSTI.0fcVQ3afNjZu17-0Es-FREOAKPzfQHZsLeRME_HV73Y&dib_tag=se&keywords=keith+burris&qid=1722187874&sprefix=keith+burris%2Caps%2C104&sr=8-6"><img src="./images/BookCovers/Duo Destiny Front Cover.png" alt="Duo Destiny" height="300"></a>
      </div>
      <div class="col mt-2">
        <h2>Duo Destiny</h2>
        <h3 class="Book-Subtitle">Release Date: January 9, 2021</h3>
        <p>For six years, Scott Rogers and Alyx Hutchens served as capable, loyal soldiers of the Astral Empire. But in the midst of a seemingly pointless war, these close friends began to question their part in the army and their role in the killing of innocent civilians. After defying direct orders to kill a helpless civilian, General Orell declares both men treasonous and orders their fellow soldiers to kill them. Scott and Alex narrowly escape and become fugitives. But instead of hiding away, the men travel the world in an effort to gain enough support to challenge the country they fled in hopes of a better future. Against insurmountable odds and despite great danger, Scott and Alyx work together as a formidable duo to fight for their convictions.</p>
        <a href="https://www.amazon.com/Duo-Destiny-Keith-Burris-ebook/dp/B08SLGQHRJ/ref=sr_1_6?crid=3TA3542N2C9PQ&dib=eyJ2IjoiMSJ9.0B-ZMekVkstkUq2mq6cc44VpnqEPi-fqPjcdj-p6NtOEyqeih-TawcJPpBpobnHeehVJyLpmvErAJf9xdTP6Va4OYPAXHm2KMFOQP_VF8se2Sha9hibrYCMpzsPcYIYX0nuraZ9uOBZfrv54bPAXWd5DknN0ClZC-HVyseejYRYQIOw14xbAwPAyyS3npNxaOyx73tZeJd_Ax1w7TqKKmAx0afJ2iFkJ0f6AoA0CSTI.0fcVQ3afNjZu17-0Es-FREOAKPzfQHZsLeRME_HV73Y&dib_tag=se&keywords=keith+burris&qid=1722187874&sprefix=keith+burris%2Caps%2C104&sr=8-6"><button type="button" class="btn btn-warning">Buy Now</button></a>
      </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6">
          <a href="https://www.amazon.com/Bounty-Hunter-Rise-Human-Race-ebook/dp/B096NP122B?ref_=ast_author_dp&dib=eyJ2IjoiMSJ9.s_K671OkYkZVXuQpdCuPhZBs06mRhpNWH3ps2wrYOptyiEUoby0ZnnAbx-YWj8GDykkwYzFc8-Xv3qQMQaakrFDEcm0VUwgREU2o68Cg4NMSxdIBA6pmsiRnL-bUJ14O29pGPm6oV6SZaaZ6rhxugQ.pneeAP53oE6obr-UX1z__GYOjub9sXUrSNfBOwKlGaU&dib_tag=AUTHOR"><img src="./images/BookCovers/Bounty Hunter Front Cover.jpg" alt="Bounty Hunter" height="300"></a>
        </div>
        <div class="col mt-2">
          <h2>Bounty Hunter: Rise of the Human Race</h2>
          <h3 class="Book-Subtitle">Release Date: May 24, 2021</h3>
          <p>Ryan Singleton is sick of home—sick of his dad ragging on him and the dullness of closing his eyes at the end of the day, knowing he’s going to open them the next to the same monotonous thing. So he leaves home to become a bounty hunter. But that kind of life doesn’t come easy. He tears through one of the biggest zero gravity races in the area to secure the money he needs to start his future, and then nearly winds up dead on his first bounty. Luckily for him, a mysterious woman named Jody, an elite bounty hunter herself, comes to his rescue and dangles the future he dreams of right in front of him. All that stands in his way is Heydrich Kralick—a rival alien bounty hunter who hates him for besting him in that race. He’s ruthless, wanted by the law, and obsessed. Ryan stands to gain prestige, money, a world of passion and adventure. All he stands to lose is his life.</p>
          <a href="https://www.amazon.com/Bounty-Hunter-Rise-Human-Race-ebook/dp/B096NP122B?ref_=ast_author_dp&dib=eyJ2IjoiMSJ9.s_K671OkYkZVXuQpdCuPhZBs06mRhpNWH3ps2wrYOptyiEUoby0ZnnAbx-YWj8GDykkwYzFc8-Xv3qQMQaakrFDEcm0VUwgREU2o68Cg4NMSxdIBA6pmsiRnL-bUJ14O29pGPm6oV6SZaaZ6rhxugQ.pneeAP53oE6obr-UX1z__GYOjub9sXUrSNfBOwKlGaU&dib_tag=AUTHOR"><button type="button" class="btn btn-warning">Buy Now</button></a>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-lg-6">
          <a href="https://www.amazon.com/Duo-Destiny-Darkness-Keith-Burris-ebook/dp/B09N2RJVF7/ref=pd_rhf_d_dp_s_ci_mcx_mr_hp_d_sccl_1_3/134-6061545-0069632?pd_rd_w=lDgtp&content-id=amzn1.sym.0a853d15-c5a9-4695-90cd-fdc0b630b803&pf_rd_p=0a853d15-c5a9-4695-90cd-fdc0b630b803&pf_rd_r=W9VADFRN9HZN3VBKD5N1&pd_rd_wg=7AUBG&pd_rd_r=386870a3-14ab-441b-832b-fb0aa85ab189&pd_rd_i=B09N2RJVF7&psc=1"><img src="./images/BookCovers/Acolyte of Darkness Front Cover.jpg" alt="Acolyte of Darkness" height="300"></a>
        </div>
        <div class="col mt-2">
          <h2>Duo Destiny: Acolyte of Darkness</h2>
          <h3 class="Book-Subtitle">Release Date: December 4, 2021</h3>
          <p>In the wake of a world war's brutal end, the Astral Empire teeters on the edge of despair, its people living in constant fear under a tyrant's rule. But amidst the chaos, one man refuses to surrender to the aftermath. Lawrence Orell, the fiery son of the legendary General Orell, harbors an unquenchable thirst for vengeance against the merciless Emperor Alyx—the very man responsible for his father's demise.

            A formidable warrior in his own right, Lawrence knows that facing Alyx alone is a fool's errand. This cunning despot has already slain the previous emperor and seized control with an iron grip. Fueled by an unyielding determination, Lawrence sets forth on a treacherous odyssey, desperately seeking allies to aid him in his perilous quest.
            
            In a war-ravaged empire teeming with treacherous criminals and lurking abominations, Lawrence hardens his resolve. His mission: to infiltrate the heart of darkness, to end the emperor's reign of terror, and to restore the tarnished honor of his noble bloodline.
            
            Join Lawrence on an adrenaline-charged journey through a world shrouded in danger and deceit, where survival hangs by a thread, and the fate of an empire balances on the edge of a blade. Will he triumph against insurmountable odds, or will he become just another casualty in a merciless game of power?
            
            Prepare yourself for an epic tale of vengeance and redemption, where honor is tested, alliances are forged, and one man's unbreakable spirit threatens to shake the foundations of an empire. The time for reckoning has come, and Lawrence Orell will stop at nothing until justice is served and his family name rises from the ashes.</p>
          <a href="https://www.amazon.com/Duo-Destiny-Darkness-Keith-Burris-ebook/dp/B09N2RJVF7/ref=pd_rhf_d_dp_s_ci_mcx_mr_hp_d_sccl_1_3/134-6061545-0069632?pd_rd_w=lDgtp&content-id=amzn1.sym.0a853d15-c5a9-4695-90cd-fdc0b630b803&pf_rd_p=0a853d15-c5a9-4695-90cd-fdc0b630b803&pf_rd_r=W9VADFRN9HZN3VBKD5N1&pd_rd_wg=7AUBG&pd_rd_r=386870a3-14ab-441b-832b-fb0aa85ab189&pd_rd_i=B09N2RJVF7&psc=1"><button type="button" class="btn btn-warning">Buy Now</button></a>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-lg-6">
          <a href="https://www.amazon.com/Bounty-Hunter-Homecoming-Keith-Burris-ebook/dp/B0BQL99NS6?ref_=ast_sto_dp"><img src="./images/BookCovers/Homecoming Front Cover.jpg" alt="Homecoming" height="300"></a>
        </div>
        <div class="col mt-2">
          <h2>Bounty Hunter: Homecoming</h2>
          <h3 class="Book-Subtitle">Release Date: December 18, 2022</h3>
          <p>Get ready for an adrenaline-fueled ride through a world on the brink of chaos! Heydrich Kralick, the notorious bounty hunter, is behind bars, but the fallout has only just begun. Brace yourself as Ryan Singleton, the mastermind behind Kralick's capture, sharpens his skills in the wake of the alien's demise.

            But hold on tight, because the real star of this heart-pounding tale is Katie Anderson. Once the second-best bounty hunter in her group, right after her revered boss Jody Winters, Katie yearns for a life beyond the shadows. Inspired by the legendary efforts of her late parents, the Anderson Duo, she sets off on a daring quest to claim their awe-inspiring legacy.
            
            Yet, Katie quickly realizes that walking in her parents' footsteps requires more than just desire—it demands mastery. Desperate for guidance, she turns to an enigmatic alien named Neyvis Dunnwalker. At first, his intentions seem noble, a glimmer of hope in a treacherous universe. Little does she know, she's about to plunge headfirst into a maelstrom of violence and devastation, with her former team squarely in her crosshairs.
            
            Caught between two formidable factions, Katie's journey catapults her into a world teetering on the edge of an all-out war between humans and aliens. It's a high-octane adventure where survival is the ultimate prize and the line between friend and foe blurs beyond recognition. Prepare for a thrilling rollercoaster of twists, turns, and mind-bending betrayals that will leave you breathless. The countdown to an explosive showdown has begun, and Katie Anderson holds the fate of worlds in her hands.</p>
          <a href="https://www.amazon.com/Bounty-Hunter-Homecoming-Keith-Burris-ebook/dp/B0BQL99NS6?ref_=ast_sto_dp"><button type="button" class="btn btn-warning">Buy Now</button></a>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-lg-6">
          <a href="https://www.amazon.com/Duo-Destiny-Warrior-Keith-Burris-ebook/dp/B0CHK5T3X4?ref_=ast_author_dp&dib=eyJ2IjoiMSJ9.s_K671OkYkZVXuQpdCuPhZBs06mRhpNWH3ps2wrYOptyiEUoby0ZnnAbx-YWj8GDykkwYzFc8-Xv3qQMQaakrFDEcm0VUwgREU2o68Cg4NMSxdIBA6pmsiRnL-bUJ14O29pGPm6oV6SZaaZ6rhxugQ.pneeAP53oE6obr-UX1z__GYOjub9sXUrSNfBOwKlGaU&dib_tag=AUTHOR"><img src="./images/BookCovers/Warrior of Light Front Cover.jpg" alt="Warrior of Light" height="300"></a>
        </div>
        <div class="col mt-2">
          <h2>Duo Destiny: Warrior of Light</h2>
          <h3 class="Book-Subtitle">Release Date: September 6, 2023</h3>
          <p>In a world teetering on the edge of darkness, the Astral Empire's glory has faded, replaced by the haunting silence of regret and guilt. Years after Emperor Graves' fall, Emperor Joseph's feeble rule has left the realm vulnerable, and empowered monsters threaten to plunge it into chaos. Lawrence Orell, fueled by his father's sacrifice, vows to restore the empire to its former grandeur and seeks the one person who can change fate—Scott Rogers, a warrior burdened by guilt.

            Larry's quest introduces him to Maximillian Penmark, a thief seething with hatred against the empire, and the emergence of Damian Edwards, a necromancer with control over the dead. Rumors of Damian's twisted abilities draw Scott out of exile as he seeks to resurrect his friend, Alyx, but Damian's malevolent intentions shatter Scott's hopes in a heart-wrenching display of darkness.
            
            Alliances form, and loyalties are tested as the warriors of light and the acolyte of darkness must unite to confront Damian and his growing army of the undead. In a battle that transcends life and death, they must overcome their own demons to banish the encroaching darkness and shape the destiny of a realm struggling to find its light once more. Will they succeed, or will the undying reckoning consume them all?</p>
          <a href="https://www.amazon.com/Duo-Destiny-Warrior-Keith-Burris-ebook/dp/B0CHK5T3X4?ref_=ast_author_dp&dib=eyJ2IjoiMSJ9.s_K671OkYkZVXuQpdCuPhZBs06mRhpNWH3ps2wrYOptyiEUoby0ZnnAbx-YWj8GDykkwYzFc8-Xv3qQMQaakrFDEcm0VUwgREU2o68Cg4NMSxdIBA6pmsiRnL-bUJ14O29pGPm6oV6SZaaZ6rhxugQ.pneeAP53oE6obr-UX1z__GYOjub9sXUrSNfBOwKlGaU&dib_tag=AUTHOR"><button type="button" class="btn btn-warning">Buy Now</button></a>
        </div>
      </div>
  </div>
</section>
<!-- Books End -->
 
<%- include("partials/footer");  -%>