<%- include("partials/header");  -%>

<br><br><br><br><br><br><br>
<div class="container text-center">
    <h1>Display Your Passion with Unique Merchandise!</h1>
</div>

<!-- Merchandise Start -->

<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/JodyBlackT.jpeg" alt="Jody Black T-shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Jody Winters: Bounty Hunter Homecoming" t-shirt, designed to pay homage to the remarkable character, Jody Winters, from the gripping pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817400116"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/JodyT.jpeg" alt="Jody T-shirt">
            <div class="card-body">
              <p class="card-text">Jody Winters: Galactic Guardian - Bounty Hunter Series Inspired Unique Design T-shirt – a must-have for fans of fierce female protagonists and intergalactic adventures! Immerse yourself in the captivating world of Jody Winters, as she stands proudly in a futuristic space station. This one-of-a-kind tee not only showcases the strength and resilience of the iconic character from the beloved Bounty Hunter book series but also promises a stylish and unique addition to your wardrobe. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166832232812"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/KatieBlackT.jpeg" alt="Katie T-shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Katie Anderson: Bounty Hunter Homecoming" t-shirt, designed to celebrate the beloved character, Katie Anderson, from the thrilling pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design! 🌟 Design Features: The star of the show, Katie Anderson, takes center stage in this fantastic comic-style artwork. Her fierce determination and sharp instincts come to life in vivid detail, making this t-shirt a must-have for fans of the Bounty Hunter series.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817375141"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/KatieStageT.jpeg" alt="Katie Stage T-shirt">
            <div class="card-body">
              <p class="card-text">Katie Anderson: Golden Stage Symphony T-Shirt – a must-have for fans of the Bounty Hunter book series! Immerse yourself in the captivating world of Katie Anderson, the fearless protagonist, as she takes center stage with a stunning design featuring her image, encircled by radiant golden music notes. Picture Katie in her element, standing confidently before a golden microphone, embodying the essence of this fearless bounty hunter.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166832230525"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/OrellT.jpeg" alt="Orell T-Shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive General Orell Novel Villain T-Shirt – a captivating piece of wearable art that brings the sinister charm of this iconic character straight from the pages of Duo Destiny to your wardrobe! Immerse yourself in the dark allure of General Orell as his compelling image takes center stage, accompanied by his ominous name elegantly wrapped around the design.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817529521"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/RyanT.jpeg" alt="Ryan T-Shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Ryan Singleton: Bounty Hunter Homecoming" t-shirt, designed to honor the fearless character, Ryan Singleton, from the thrilling pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design! His unwavering bravery and unrelenting pursuit of justice come to life in vivid detail, making this t-shirt a must-have for fans of the Bounty Hunter series.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817383884"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/JodyBackground.jpeg" alt="Jody Background T-Shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Jody Winters: Bounty Hunter Homecoming" t-shirt, designed to pay homage to the remarkable character, Jody Winters, from the gripping pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817395338"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/RyanBackground.jpeg" alt="Ryan Background T-Shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Ryan Singleton: Bounty Hunter Homecoming" t-shirt, designed to honor the fearless character, Ryan Singleton, from the thrilling pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design! His unwavering bravery and unrelenting pursuit of justice come to life in vivid detail, making this t-shirt a must-have for fans of the Bounty Hunter series.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817380716"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./images/Merch Carousel/KatieBackground.jpeg" alt="Katie Background T-Shirt">
            <div class="card-body">
              <p class="card-text">Introducing our exclusive "Katie Anderson: Bounty Hunter Homecoming" t-shirt, designed to celebrate the beloved character, Katie Anderson, from the thrilling pages of the book. Immerse yourself in the action-packed world of bounty hunting with this dynamic, comic book-inspired design! 🌟 Design Features: The star of the show, Katie Anderson, takes center stage in this fantastic comic-style artwork. Her fierce determination and sharp instincts come to life in vivid detail, making this t-shirt a must-have for fans of the Bounty Hunter series.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://www.ebay.com/itm/166817371392"><button type="button" class="btn btn-warning">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Merchandise End -->


<%- include("partials/footer");  -%>