h2{
    text-align: center;
    font-style: italic;
}
h3{
    text-align: center;
}
.testimonial-text{
    text-align: center;

}
.Book-Subtitle{
    font-style: italic;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.spotlight-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.Spotlight-buttons{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.but{
    margin: 10px;
    height: 200px;
    width: 200px;
}
.container-title{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.book-title{
    font-style: italic;

}